<uci.acm.challenge.Graphic.Configuration>
  <dir>C:\Users\Frank\Documents\NetBeansProjects\Mirage</dir>
  <savedGames>
    <string>C:\Users\Frank\Documents\NetBeansProjects\Mirage\savedgames\1540758596992.dat</string>
  </savedGames>
  <nativeLibrariesPath>C:\Users\Frank\Documents\NetBeansProjects\Mirage</nativeLibrariesPath>
</uci.acm.challenge.Graphic.Configuration>